<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.health.READ_WEIGHT" />
  <uses-permission android:name="android.permission.health.READ_EXERCISE" />
  <uses-permission android:name="android.permission.health.WRITE_EXERCISE" />
  <queries><package android:name="com.google.android.apps.healthdata" /></queries>
  <application>
    <activity android:name="com.cuki.health.CukiHealthPermissionsActivity" android:exported="false" />
    <activity android:name="com.cuki.health.CukiHealthRationaleActivity" android:exported="true">
      <intent-filter><action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" /></intent-filter>
    </activity>
    <activity-alias android:name="com.cuki.health.ViewPermissionUsageActivity" android:exported="true"
      android:targetActivity="com.cuki.health.CukiHealthRationaleActivity"
      android:permission="android.permission.START_VIEW_PERMISSION_USAGE">
      <intent-filter>
        <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
        <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
      </intent-filter>
    </activity-alias>
  </application>
</manifest>
